/*--------------------------------------------------- Universal*/
canvas {
    display: block;
    margin: auto;
}

body {
    background-color: #000;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------- Home Page*/
.navbar {
    margin-bottom: 50px;
}

.bg-color {
    background-color: #000!important;
}

.nav-text {
    color: #ffff00!important;
}

.main-heading {
    display: block;
    margin: 0 auto 50px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: #ffff00;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 5px;
}

.section {
    display: inline-block;
    margin: 0 auto 50px;
    border: 1px solid #ffff00;
    border-radius: 10px;
    height: auto;
    width: 100%;
    font-family: 'Space Mono', monospace;
}

.section-heading {
    color: #ffff00;
    text-align: center;
}

.section-paragraph {
    color: #ffff00;
    margin: 5px;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 30px;
}

.section-list {
    color: #ffff00;
}

/*--------------------------------------------------- Comments Page*/

.form {
    padding: 10px;
    border: 1px solid #ffff00;
    color: #ffff00;
    text-align: center;
    margin: 10px;
}

.name,
.date, 
.form textarea {
    border: 1px solid #ffff00;
    padding: 2px;
    width: 300px;
    margin: 5px;
    background-color: #000;
    color: #ffff00;
}
.comment-box {
    width: 90%;
    border: 1px solid #ffff00;
    border-radius: 5px;
    padding: 1%;
    margin: 10px auto 10px;
    text-align: center;
}

.comment-panel {
    width: 80%;
    color: #ffff00;
    margin-bottom: 10px;
}

